body {
	font: bold 24px monospace;
	color: #000;
    background: #34495E;
}

#splash-screen {
    background: #34495E;
    height: 242px;
    width: 372px;
	left: 48%;
	top: 35%;
	margin: -160px;
    position: absolute;
	z-index: 1000;
	color: #fff;
	border: 1px dotted #fff;
}

#screen {
    background: #34495E;
    bottom: 0;
    left: 0;
    overflow: hidden;
    perspective: 800px;
    position: absolute;
    right: 0;
    top: 0;
}

#game-screen {
    background: #34495E;
    height: 480px;
    width: 480px;
	left: 50%;
	top: 320px;
	margin: -240px;
    position: absolute;
    transform: rotateX(45deg) rotateZ(0deg);
	transform-style: preserve-3d;
	z-index:100;
}

.tile {
    background: #E74C3C;
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0;
	left: 0;
}

#splash-screen {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.wall {
    transform: rotateX(-90deg);
	z-index: 100;
}

.door {
    transform: rotateX(-90deg);
	margin-left: 5px;
	margin-top: -16px;
	z-index: 45;
}


.player, .monster {
    -moz-transition: top 0.2s, left 0.2s;
    -webkit-transition: top 0.2s, left 0.2s;
    transition: top 0.2s, left 0.2s;
    transform: rotateX(-90deg);
	z-index: 50;
}

.player {
    transform: rotateX(-90deg);
	z-index: 200;
}
